{{ define "index" }}

{{ template "header" }}
<body>
<h1>Your daily products statistics</h1>
<h2>hot rise prices</h2>
<p>{{range .HotRises}}{{.}}<br>{{end}}</p>
<br>

<h2>favorable regions for the selected product</h2>
<p>-->{{ .Selected }}<--</p>
<br>
<p>{{range .RegionsForProducts}}{{.}}{{end}}</p>
<br>

<h2>prediction for next day product price</h2>
<div class="div1"><p>-->{{ .Selected }}<--</p>
    <br>
    <p>-->{{ .Prediction }}<--</p></div>
<br>
<div class="div2"><h2>Want get analytics for other product? Request in tg @midkey</h2></div>
</html>
</body>

{{ end }}